body{
	/*background-color: #E0E0E0;*/
	background-image: url('https://raw.githubusercontent.com/Branhammer/Branhammer.github.io/master/img/bg.png');
	background-repeat: repeat;
}

.myFeed{
	margin-top: 100px;
	margin-right: 60px;
	vertical-align: center;
	text-align: center;
}

.feed_title{
	box-shadow: 2px 2px 8px #000000;
}

.navbar-nav{
	float: none;
	display:inline-block;
}

.navbar-nav > li > a{
	color: #000000
}

.navbar-nav > li > a:link{
	color: #000000
}

.navbar-nav > li > a:hover{
	color: #ffffff
}

.navbar-inverse{
	background-color: #292929;
}

.div_text{
	text-align: center;
}