/*RESPONSIVE*/

	@media screen and (max-width 1000px){
		body{
			background-image: none;
			background-color: purple;
		}
	}



/*TYPES DEFINED*/

	body{
		background-color: whitesmoke;
		/*background-image: url('../img/pixel_weave.png');*/
		background-repeat: repeat;
		font-family: sans-serif;
		font-size: 14px;
		margin: 0px;
	}

	li{
		line-height: 15px;
	}

	li > a{
		padding: 3px 0px 3px 0px;
	}

	h1,h2{
		font-weight: 200;
	}

	h1 > a{
		text-decoration: none;
		color: #000000;
	}

	h1 > a:hover{
		text-decoration: none;
		color: #a8a8a8;
	}

	a{
		color: #428BCA;
		text-decoration: none;
	}

	a:hover{
		color: #2A6496;
		text-decoration: none;
	}

	a:visited{
		text-decoration: none;
	}

	a:active{
		text-decoration: none;
	}

	footer{
		float: left;
		font-family: sans-serif;
		color: #888888;
		padding-top: 20px;
	}

	footer > p > a{
		text-decoration: none;
		color: #1747ce;
	}

/*NAVIGATION*/

	#hide-nav{
		position: fixed;
		top: 17px;
		right: 30px;
		z-index: 16;
		color: #555555;
		transition: color .5s;
	}

	#hide-nav:hover{
		cursor: pointer;
	}

	#header{
		height: 50px;
		background-color: rgba(168,168,168,0.6);
		box-shadow: 2px 2px 8px #000000;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 15;
		text-align: center;
		opacity: 0;
		transition: opacity .5s;
	}

	#my-navbar-wrapper{
		margin-top: 0px;
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -320px;
		z-index: 15;
		height: 75px;
		min-width: 640px;
		text-align: center;
		/*overflow: hidden;*/
		opacity: 0;
		transition: opacity .5s;
	}

	.my-navbar-list{
		display: inline-table;
		table-layout: fixed;
		padding: 0;
		list-style: none;
		margin: 0;
	}

	.my-navbar-list > li{
		display: table-cell;
		text-align: center;
	}

	.my-navbar-list > li > a > img:hover{
		opacity: 0.5;
	}

	.nav-link{
		color: #000000;
		text-decoration: none;
		display: block;
		padding-bottom: 15px;
		padding-top: 20px;
		width: 100px;
	}

	.nav-link:hover{
		color: #ffffff; 
		background-color: rgba(0,0,0,0.5);
		text-decoration: none;
	}

	#logo-nav{
		height: 100px;
		width: 100px;
		position: absolute;
		left: 50%;
		margin-left: -50px;
		z-index: 16;
		opacity: 0;
		transition: width 0.1s, height 0.1s, margin-left 0.1s, opacity .5s;
		top: 0px;
	}

	#logo-nav:hover{
		width: 110px;
		height: 110px;
		margin-left: -55px;
	}

		/*Dropdown*/

			.my-dropdown-menu{
				padding: 20px;
				position: absolute;
				visibility: hidden;
				list-style: none;
				display: block;
				background-color: rgba(0,0,0,0.5);

			}

			.my-dropdown:hover .my-dropdown-menu{
				visibility: visible;
			}

			.my-dropdown-menu > li > a{
				display: block;
				color: #ffffff;
				text-decoration: none;
			}

			.my-dropdown-menu > li > a:hover{
				color: #DEDEDE;
			}

			.dropdown-section-title{
				padding-top: 10px;
				padding-bottom: 10px;
				color: #a8a8a8;
			}

			.my-contact-dropdown-menu{
				padding: 20px;
				position: absolute;
				visibility: hidden;
				list-style: none;
				display: block;
				background-color: rgba(0,0,0,0.5);

			}

			.my-contact-dropdown:hover .my-contact-dropdown-menu{
				visibility: visible;
			}

			.my-contact-dropdown-menu > li > a{
				display: block;
				color: #ffffff;
				text-decoration: none;
			}

			.my-contact-dropdown-menu > li > a:hover{
				color: #DEDEDE;
			}

/*HOME PAGE*/

	/*SPLASH*/

		.splash{
			position: absolute;
			overflow: hidden;
			top:0px;
			height: 700px;
		}

		.header-img{
			position: absolute;
			width: 100%;
			margin-bottom: 50px;
			text-align: center;
			/*background: rgba(255,255,255,0.1);*/
		}

		.header-img > img{
			position: relative;
			width: 100%;
			left: 100%;
			margin-left: -200%;
			margin-top: -5%;
			z-index: -1;
		}

		#talentContainer{
			height: 100%; 
			/*top: 50%; */
			/*margin-top: -175px; */
			/*background-color: rgba(255,255,255,0.1);*/
		}

		.talents{
			position: relative;
			width: 30%;
			min-width: 300px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 250px;
			display: inline-block;
			height: 100%;
			transition: background-color 1s;
			color: #f37521;
		}

		.talents:hover{
			background-color: rgba(255,255,255,0.7);
			transition: background-color .2s;
		}

		.talents > a:hover .talent-circle{
			height: 150px;
			width: 150px;
		}

		.talent-circle{
			width: 140px;
			height: 140px;
			border-radius: 50%;
			/*box-shadow: 2px 2px 8px #000000;*/
			transition: width 0.1s, height 0.1s;
		}

		.talent-text{
			display: inline-block;
			height: 100px;
			margin-top: 10px;
		}

		#more{
			width: 100%;
			height: 50px;
			visibility: hidden;
			overflow: hidden;
			position: absolute;
			top: 700px;
			text-align: center;
			font-size: 25px;
		}

		#more > p{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -150px;
			height: 35px;
			vertical-align: middle;
			text-align: center;
			width: 300px;
			overflow: hidden;
			background-color: rgba(0,0,0,0.5);
			color: #ffffff;

			animation-name: happy;
			animation-delay: 3s;
    		animation-duration: 2s;
    		animation-iteration-count: 2;
    		animation-direction: alternate;
    		animation-play-state: running;
		}

		@keyframes happy {
		    from {visibility: hidden; height: 0px;}
		    to {visibility: visible; height: 35px;}
		}

	.featured{
		width: 66%;
		min-width: 400px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 10px;
	}

	.featured-image{
		width: 300px;
		height: 300px;
		vertical-align: middle;
		display: inline-block;
		overflow: hidden;
	}

	.featured-image > a > img{
		position: relative;
		height: 80%;
		display: inline-block;
		top: 20%;
		margin-top: -10%;
		transition: box-shadow 2s, width 0.1s, height 0.1s, margin-top 0.1s, top 0.1s;
	}

	.featured-image > a > img:hover{
		height: 90%;
		top: 10%;
		margin-top: -5%;
		/*box-shadow: 0px 0px 10px #f37521;*/
	}

	.featured-heading{
		font-size: 50px;
	}

	.featured-muted{
		color: #999999;
	}

/*RANDOM ELEMENTS*/

	.my-divider{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 90%;
		border-bottom: dashed;
		border-width: 1px;
		box-shadow: 2px 2px 8px #dedede;
		border-color: #f37521;
		display: inline-block;
	}

	.back-to-top{
		min-width: 80px;
		display: inline-block;
	}

	.back-to-top > a{
		text-decoration: none;
		color: #000000;	
	}

	.back-to-top > a:hover{
		color: #a8a8a8;
	}

	.my-container{
		top: 0;
		z-index: 10;
		text-align: center;
		position: relative;
		width: 80%;
		left: 10%;
		height: 100%;
	}

	.section{
		position: relative;
		text-align: center;
		/*margin-top: 30px;*/
		/*margin-bottom: 30px;*/
	}

	.section-title{
		font-size: 50px;
		font-style: oblique;
		padding-top: 50px;
		color: #999999;
		font-weight: 200;
	}

	.my-button{
		background-color: #bbbbbb;
		border-radius: 5px;
		padding: 5px 10px 5px 10px;
		border: solid;
		border-color: #aaaaaa;
		border-width: 1px;
	}

	.my-button:hover{
		background-color: #cccccc;
		text-decoration: none;
	}

/*CONTACT PAGE*/

	#page-content{
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.5s;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 20;
		margin: 0;
		background-color: rgba(0,0,0,0.5);
	}

	#contact-block{
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.5s;
		top: 8%;
		width: 60%;
		height: 84%;
		position: fixed;
		left: 20%;
	}

	.contact{
		height: 100%;
		width: 100%;
		border-radius: 25pt;
		border: none;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0px 0px 20px #000000;
		min-width: 350px;
		min-height: 400px;
	}

/*ABOUT PAGE*/
	
	.my-feed{
		padding-top: 20px;
		width: 100%;
		min-width: 300px;
	}

	.about{
		width: 100%;
		min-width: 400px;
	}

/*PROJECT FOCUS PAGE*/

	#lightswitch-container{
		background-color: rgba(168,168,168,0.6);
		width: 10px;
		height: 80px;
		position: fixed;
		top: 100px;
		right: 0px;
		z-index: 16;
		box-shadow: 2px 2px 8px #000000;
		transition: width 1s;
		overflow: hidden;
	}

	#lightswitch-container:hover{
		cursor: pointer;
		width: 140px;
	}

	#lightswitch{
		padding: 15px;
		overflow: hidden;
		width: 140px;
	}

	#lightswitch img{
		display: inline-block;
	}

	#lightswitch-pointer{
		position: fixed;
		top: 100px;
		right: 50px;
		z-index: 16;
		height: 80px;
		font-size: 20px;
	}

	#lightswitch-pointer > div{
		vertical-align: middle;
	}

	#project-head{
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 300px;
		padding-top: 50px;
		overflow: hidden;
		/*background: linear-gradient(#bbbbbb, rgba(0,0,0,0));*/
	}

	#project-head-pic{
		display: block;
		width: 100%;
	}

	#project-head-pic > img{
		width: 100%;
		margin-top: -60px;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}

	#project-head-title{
		font-size: 80px;
		position: absolute;
		text-align: center;
		top: 50%;
		margin-top: -40px;
		left: 50%;
		margin-left: -150px;
		width: 300px;
		height: 80px;
		color: #dddddd;
		text-shadow: 2px 2px 8px #000000;
		transition: top .5s;
		z-index: 14;
	}

	#project-head-title:hover{
		color: #ffffff;
		top: 40%;
		height: 100%;
		width: 100%;
		margin-left: -50%;
	}

	#project-head-title:hover + #project-head-description{
		/*width: 90%;*/
		/*margin-left: -45%;*/
		top: 60%;
		opacity: 1;
	}

	#project-head-description{
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 70%;
		left: 50%;
		margin-left: -45%;
		width: 90%;
		transition: top .5s, opacity 1s;
		overflow: hidden;
		opacity: 0;
	}

	#project-head-description > p{
		color: #ffffff;
		margin: 20px;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}

	.project-highlight{
		width: 100%;
		text-align: center;
	}

	.project-high-image{
		width: 80%;
		min-width: 400px;
		display: inline-block;
		margin: 20px;
		position: relative;
		height: 600px;
	}

	.project-high-image > img{
		display: inline-block;
		height: 600px;
		width: 800px;
		position: absolute;
		top: 50%;
		margin-top: -300px;
		left: 50%;
		margin-left: -400px;
		transition: all 1s;

	}

	.project-high-text{
		display: inline-block;
		width: 100%;
		height: 350px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		opacity: 1;
		overflow: hidden;
		position: relative;
	}

	.project-high-text p{
		color: black;
		width: 70%;
		display: inline-block;
		text-align: justify;
	}

	.shrink{
		position: absolute;
		height: 350px;
		max-height: 350px;
		top: 50%;
		margin-top: -175px;
		width: 100%;
		overflow: hidden;
		transition: all .6s;
		background-color: rgba(255,255,255,.5);
		box-shadow: inset 0 8px 6px -6px black;

	}

	.shrinkwrap{
		min-height: 350px;
		position: absolute;
		top: 50%;
		margin-top: -175px;
		width: 100%;
		display: table;
	}

	.shrinktext{
		display: table-cell;
		vertical-align: middle;
		min-height: 0px;
		min-width: 0px;
	}

#bar-test{
	height: 50px;
	position: fixed;
	top: 400px;
	left: 0px;
	width: 100%;
	background-color: black;
	transition: all;
	z-index: 99999999;
}